body {
  background: #e4f4fa;
}

h1,
h2,
i.fas.fa-search,
p.humidity,
p.wind,
.time,
#conditions {
  color: #ffffff;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
}

h2 {
  font-size: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

img {
  display: block;
  margin: 0 auto;
}

section.subheader {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 15px;
  position: relative;
  text-align: center;
}

div.weather.app-wrapper {
  margin: 30px auto;
  width: 618px;
}

div.weather-app {
  background-color: #2b619c;
  border: none;
  border-radius: 12px;
  padding: 30px 26px;
}

div.card-body {
  background-color: #ffffff;
  width: -50px;
  margin: 0 auto;
  padding: 20px 0;
}

div.hi-low {
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

div.forecast {
  color: #1b4de4;
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
}

h5.card-time {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

img.weather-symbol {
  max-width: 100%;
  height: auto;
}

i.fas.fa-search {
  font-size: 34px;
  text-align: right;
}

p.humidity,
p.wind {
  font-size: 17px;
  line-height: 20px;
  position: relative;
  text-align: right;
}

p.humidity {
  padding-right: 108px;
  line-height: 5px;
}

p.wind {
  padding-right: 110px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon img {
  width: 55%;
}

.magnifier-icon {
  background: none;
  border: none;
}

.time {
  font-size: 17px;
  font-weight: 500;
  line-height: 1px;
}

.units {
  display: inherit;
  margin-top: 22px;
}

#conditions {
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
}

#conditions:first-letter {
  text-transform: capitalize;
}

#clickableAwesomeFont {
  cursor: pointer;
}

#celsius-link,
#fahrenheit-link {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

#celsius-link.active,
#fahrenheit-link.active {
  color: #2b2b2b;
  cursor: default;
}
